.colossel-wrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .disimage{
    height: 100vh;
  }
  .backward,.forward{
    height:100vh;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    font-size: 150px;
  }